# Qt build files and whatever unused project files
Makefile
debugfiles.list
debugsources.list
debuglinks.list
documentation.list
*.o

RPMS/*
*.user

# Object files and final binaries
/obj/*
/video-flash-trial
